 body {
    font-family: 'Roboto', sans-serif;
    min-height: 200vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container { 
  display:flex;
    max-width: 1440px;
    margin: 0 auto;
  }
  .main-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }


 main {
    border: 1px solid red;
}
* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth; 
  }
  .avatarcenter {
    margin: 10px auto 20px;
    display: block;
}
nav {
  font: bold ;
  color: #de2b2b;
  border: 2px solid #000;
  background-color: bisque;
}
.begin {
  font:caption;
  color: #de2b2b;
}
.naming {
  margin: 10px auto 20 px;
  display:block;
}
.rubi {
width: 80%;
background-color: #000;
}
.maiky {
  width: 50%;
}
.Contacts {
  width: 50%;
}
.Summary {
  width: 50%;
}
.Skills {
  width: 50%;
}
.Code {
  width : 50%;
} 
.Courses {
  width: 50%;
}
.Projects {
  width: 50%;
}
.Education {
  width: 50%;
}
.English {
  width: 50%;
}
.element {
  width: 100%;
  height: 10px;
  background-color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}